input[type="radio"] {
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label::before {
    border-color: orange;
  }
 
  input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    vertical-align: middle;
    transition: border-color 0.3s ease;
  }
  
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type="radio"]:checked + label::before {
    background-color: white;
    border-color:whitesmoke;
  }
  
  .copyright {
    float: right;
  }
